{% extends "layout.html" %}
{% load static %}


{% block content %}
<main>

  <section>

    <form action="{% url 'actualizar' prenda.id %}" method="post">

        {% csrf_token %} <!--elemento de seguridad-->

        {% if msg %}

            <div class="alert alert-success" role="alert">
                Registro Actualizado
            </div>

        {% endif %}

        {{ form.as_p }}
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Guardar</button>

    </form>
  </section>  



</main>

{% endblock %}